@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

body {
    background-color: #1e1e1e;
    font-family: 'Lily Script One', cursive;
    cursor: url(../cursor/mickeyCursor.cur), auto;
}

header nav ul{
    text-align: center;
} 

header nav ul li {
    display: inline-block;
    padding: 3rem 10rem 3rem 10rem;
    text-align: center;
}

header nav ul li a {
    color: #fff;
    font-size: 32px;
    letter-spacing: 1px;
}

header nav ul li a:hover {
    cursor: url(../cursor/mickeyHandCursor.cur), auto;
    border-bottom: 2px solid #00cd;
}

main {
    background-color: #fff;
}

.banner {
    width:100%;
}

.banner img {
    width: 100%;
    height: auto;
}

.productImage {
    margin-left: 150px;
}

.productImage div {
    display: inline-block;
    margin-top: 5rem;
    margin-left: 120px;
    margin-bottom: 30px;
}

.productImage img {
    width: 100%;
    height: auto;
}

.productImage img:hover {
    cursor: url(../cursor/mickeyHandCursor.cur), auto;
    transform: scale(1.09);
    transition: transform 0.3s ease;
}

.btnBackToTop {
    text-align: end;
    margin-right: 3rem;
}

.btnBackToTop button {
    cursor: url(../cursor/mickeyHandCursor.cur), auto;
    background-color: #1e1e1e;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    border: none;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
}

footer section nav {
    margin-top: .9rem;
}

footer section nav ul {
    text-align: center;
}

footer section nav ul li  {
    display: inline-block;
    padding-left: 1.5rem;
}

footer section nav ul li p {
    color: #fff;
    display: inline-block;
    font-family: 'Actor', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 1rem;
    padding-bottom: 2rem;
}

footer section nav ul li a img {
    cursor: url(../cursor/mickeyHandCursor.cur), auto;
    display: inline-block;
    vertical-align: middle;
    width: 3rem;
    padding-top: .4rem;
}